<mat-card class="example-card">

  <mat-toolbar color="primary">Novo curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">

      <mat-form-field class="full-width" style="margin-top: 1rem">
        <input matInput placeholder="Nome" formControlName="nome" #nome>
        <mat-hint align="end">{{nome.value.length}}/100</mat-hint>
        <mat-error *ngIf="form.get('nome')?.invalid">{{getErrorMessage('nome')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" style="margin-top: 1rem">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria">
          <mat-option  *ngFor="let curso of cursos" [value]="curso">{{ curso }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('categoria')?.invalid">{{getErrorMessage('categoria')}}</mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-right: 1rem">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
